{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="page_acceuil">Acceuil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/logout">Deconnexion</a>
                </li>
            </ul>
        </div>
    </nav><br>


    <!-- Fin du Bootstrap-->

<body class="body2">
    <h1>Bienvenu
        {% if Login[0]!=null and Login[0].role=="Enseignant" %} <!--Si c'est un professeur-->
            {{ Login[0].name }} <br>
            Role {{ Login[0].role }} ({{ Login[1].getNameMatiere}})

        {% endif %}

        {% if Login[0]!=null and Login[0].role=="Eleve" %} <!--Si c'est un Eleve-->
             {{ Login[0].nom }} ({{ Login[0].role }}) Classe N° {{ Login[0].IdClasseExt}}<br><br>
             <a href="{{ '/eleve'}}">
                 <button>Note</button>
             </a><!--Redirection vers autre page grâce à la route-->
        {% endif %}



        {% if is_granted('ROLE_ADMIN') %} {# permet de verifier si s'est un ADMIN et donc le directeur #}
            Monsieur le Directeur </h1>
        <ul>
            <li><code><a href="{{ '/enseignant'}}">Liste des Enseignants</a></code></li><!--Redirection vers autre page grâce à la route-->
            <li><code><a href="{{ '/register'}}">Ajouter une nouvelle entite</a></code></li><!--Redirection vers autre page grâce à la route-->
            <li><code><a href="{{ '/register_prof'}}">Ajouter un enseignant</a></code></li><!--Redirection vers autre page grâce à la route-->
            <li><code><a href="{{ '/register_eleve'}}">Ajouter un eleve</a></code></li>
        </ul>
        {% endif %}

    </body>

{% endblock %}
