{% extends 'base.html.twig' %}

{% block title %}Hello EnseignantController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('page_acceuil') }}">Acceuil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/logout">Deconnexion</a>
            </li>
        </ul>
    </div>
</nav><br>


<!-- Fin du Bootstrap-->

<body class="body2">
<div class="example-wrapper">
    <h1>Ajout d'une Classe :✅</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %} {# permet de verifier la connection #}
        <p>Username: {{ app.user.username }}</p>
    {% endif %}
    <form method="POST">
    <table>
        <tr>
            <td> Nom de l'Enseignant</td>
            <td> Matiere de l'Enseignant</td>
            <td> Ajout de Classe</td>
        </tr>

    {% for entite in Enseignants[0] %}

        <tr>
            <td>{{ entite.name }}</td>

            {% for entite2 in Enseignants[1]  %}

                {% if entite.getId_Matiere == entite2.getId %}

                    <td>{{ entite2.getNameMatiere }}</td>
                    <td>
                        <label for="">Numero de Classe</label>
                        <input type="number" name="Enseignant_{{ entite.getId }}">
                    </td>

                {% endif %}


            {% endfor %}



        </tr>

    {% endfor %}
    </table><br>
    <input type="submit">
    </form><br><br>

</div>
</body>
{% endblock %}
